{% extends 'base.html'%}
{% load staticfiles %}
{% load customtags %}
{% block content %}
<nav class='green breadcrumbpar'>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="{% url 'home:resources' %}" class="breadcrumb">Resources</a>
      <a href="#" class="breadcrumb">{{ resource.title }}</a>
    </div>
  </div>
</nav>

<ul id="myTab" class="nav nav-tabs">
   <li class="active"><a href="#blogs" data-toggle="tab" role="tab">Blogs</a></li>
   <li><a href="#videos" data-toggle="tab" role="tab">Videos</a></li>
   <li><a href="#ebooks" data-toggle="tab" role="tab">E-books</a></li>
   <li><a href="#others" data-toggle="tab" role="tab">Others</a></li>   
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="blogs">
     <br>
     <div class="card-columns" style="color: black;">
      {% is_empty resources 'blog' as result %}
      {% if result %}
        <div class="list-group">  
          {% for obj in resources %}
            {% ifequal obj.category 'blog' %}
              <a href="{{ obj.url }}" class="list-group-item">{{ obj.title }}</a>
            {% endifequal %}
          {% endfor %}
        </div>
      {% else %}
      <center><h3>Nothing Here.</h3></center>
      {% endif %}
    </div>
  </div>
  <div class = "tab-pane fade in" id = "videos">
     <br>
     <div class="card-columns" style="color: black;">
      {% is_empty resources 'video' as result %}
      {% if result %}
        <div class="list-group">  
          {% for obj in resources %}
            {% ifequal obj.category 'video' %}
              <a href="{{ obj.url }}" class="list-group-item">{{ obj.title }}</a>
            {% endifequal %}
          {% endfor %}
        </div>
      {% else %}
      <center><h3>Nothing Here.</h3></center>
      {% endif %}
    </div>
  </div>
  <div class = "tab-pane fade in" id = "ebooks">
     <br>
     <div class="card-columns" style="color: black;">
      {% is_empty resources 'ebook' as result %}
      {% if result %}
        <div class="list-group">  
          {% for obj in resources %}
            {% ifequal obj.category 'ebook' %}
              <a href="{{ obj.url }}" class="list-group-item">{{ obj.title }}</a>
            {% endifequal %}
          {% endfor %}
        </div>
      {% else %}
      <center><h3>Nothing Here.</h3></center>
      {% endif %}
    </div>
  </div>
  <div class = "tab-pane fade in" id = "others">
     <br>
     <div class="card-columns" style="color: black;">
      {% is_empty resources 'other' as result %}
      {% if result %}
        <div class="list-group">  
          {% for obj in resources %}
            {% ifequal obj.category 'other' %}
              <a href="{{ obj.url }}" class="list-group-item">{{ obj.title }}</a>
            {% endifequal %}
          {% endfor %}
        </div>
      {% else %}
      <center><h3>Nothing Here.</h3></center>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/js/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'home/js/tab.js' %}"></script>
<script>
    $(function() {
        $("body").swiperight(function() {
            var tab = $('#myTab .active').prev();
            if (tab.length > 0)
                tab.find('a').tab('show');
        });
        $("body").swipeleft(function() {
            var tab = $('#myTab .active').next();
            if (tab.length > 0)
                tab.find('a').tab('show');
        });
    });
</script>
{% endblock %}