html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto',
  sans-serif;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.nav-wrapper {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.breadcrumb::before {
  color: black;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  z-index: 999999;
}

.loader {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 30%;
  left: 47%;
}

.loader > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loader .loader-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loader .loader-rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loader .loader-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loader .loader-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
  } 20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
  }
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background:#f0f0f0;
}

img {
  max-width:100%;
}

.card-grid {
  width: 100%;
  margin-bottom: 15px;
}

.card-grid:after {
  content: "";
  display: table;
  clear: both;
}

.card-wrap {
  display: inline-block;
  width: 100%;
  padding: 10px;
}

@media (min-width: 500px) {
  .card-wrap {
    width: 50%;
  }
}

@media (min-width: 720px) {
  .card-wrap {
    width: 25%;
  }
  .nav-wrapper {
    padding-left: 20px !important;
  }
}


.topic-card {
  background-color: white;
  border-radius: 5px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

.topic-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.topic-card > div {
  padding: 0 1em;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

nav a {
  text-decoration: none !important;
  color: inherit !important;
  font-size: 1.3em !important;
}

.brand-logo {
  font-size: 1.7em !important;
}

#mobile-demo a {
  text-decoration: none !important;
  color: inherit !important;
}

a {
  outline: none !important;
}

.breadcrumbpar {
  color: black!important;
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 7px;
  padding-top: 0px;
}

.breadcrumbpar > .nav-wrapper {
  box-shadow: none;
}

.breadcrumbpar a {
  background-color: transparent !important;
  font-size: 1em !important;
  padding: 0px !important;
}

.nav-tabs {
  width: 100% !important;
  padding-top: 4px;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  display: -webkit-box !important;
  display: -moz-box !important;
}

.nav-tabs > li {
  float: none !important;
}

.tabs .tab a{
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} /*Text color on hover*/

.tabs .tab a:focus.active {
  background-color:#eee;
  color:#000;
}

.tabs .tab a.active {
  background-color:#eee;
  color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
} /*Color of underline*/

.list-group, .card-columns {
  height: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.text-center > a > i {
  color: #424242;
}

.list-group > .card {
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 40px;
  width: 90% !important;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.list-group > .card > .card-body > a {
  float: right;
  text-decoration: none;
  font-size: 18px;
  color: #424242;
}

.list-group > .card > .card-body > a:hover {
  color: #222222;
}

.tabs-content.carousel .carousel-item {
  height:auto;
  padding-left: 20px;
}
